* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box
}
body {
    background-color: #283747;
}
header {
    background-color: white;
    padding: 20px;
}
header > h1 {
    color: grey;
    text-align: center;
    font-family: Asap, sans-serif;
}